.recent-articles-flex-row {
  display: flex;
  flex-wrap: wrap;
}

.article-card {
  flex: 1;
  box-shadow: 0 0 10px rgb(0 0 0 / 15%), 0 3px 3px rgb(0 0 0 / 15%);
  background-color: white;
  margin: 0 15px;
  width: calc(33% - 30px);
}

.article-image {
  margin: 0;
}

.article-image a {
  color: #000000;
  text-decoration:none;
}

.article-card:hover, .article-card:focus {
  box-shadow: 0 0 20px rgb(0 0 0 / 15%), 0 5px 5px rgb(0 0 0 / 15%);
}
.article-card:hover a, .article-card:focus a {
  text-decoration:underline;
}

.article-image figcaption {
  padding: 15px;
}

.article-card img {
  max-width: 100%;
}

@media(max-width:700px) {
  .recent-articles-flex-row {
    flex-direction: column;
  }

  .article-card {
    width: calc(100% - 30px);
    margin: 15px;
  }
}
