.header {
  grid-area:hd;
  background-color:#0096FF;
}

.header .nav {
  display: flex;
  justify-content: space-evenly;
}


.header ul {
  display: inline-block;
}

.header li {
  display: inline-block;
}

.header li a {
  color: white;
  text-decoration: none;
  padding-right: 15px;
}

.header li a:hover, .header li a:focus {
  text-decoration: underline;
}
a.logo {display:flex;}
.logo img{
  max-height:50px;
}

@media(max-width:700px) {
  .logo img{
    max-width: 200px;
  }
}
