@import '../css/header.css';
@import '../css/main.css';
@import '../css/footer.css';
@import '../css/cards.css';

body {
  margin: 0;
  font-size: 1em;
  font-family: Helvetica, Verdana, sans-serif;
  line-height: 1.75;
  background-color: #fafbfc;
}

h1 {
  text-align: center;
  font-size: 1.75rem;
  padding: 25px;
}

h2 {
  font-size: 1.50rem;
  color: blue;
  padding: 25px 0;
}

h3 {
  font-size: 1.25rem;
  padding: 25px 0;
  text-transform: uppercase;
}

.lead {
  font-size:1.25rem;
  text-align:center;
}
blockquote {
  font-size: 1.25em;
  background: #eee;
  padding: 25px;
  border-left: 10px solid #ccc;
}

.main a {
  color: #0089c7;
  font-weight: 700;
  text-decoration-color: #a2dffb;
}
u {
  text-decoration-color: #0089c7;
  text-decoration-style: double;
}
.main a:hover, .container a:focus {
  text-decoration-color: #0089c7;
}

a.button {
    color: #fff;
    background-color: #0d6efd;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    border-radius: .25rem;
}

a.button:hover, a.button:focus {
    background-color: #0b5ed7;
    border-color: #0a58ca;
}
