body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  background: #fff;
  margin:0;
}

#app {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: flex-start;
  color: #495057;
  min-height:calc(100vh - 150px);
  font-size: 20px;
  font-family: 'Oswald', sans-serif;
  max-width: 1280px;
  margin: auto;
  padding:25px;
}

.holder {
  width: 100%;
  flex-direction: column;
  display: flex;
  align-self:flex-start;
}

.entry {
  background: rgba(59, 74, 107, .4);
}

#entryHolder {padding:25px 0;}


.headline {
  margin:25px 0;
}

.title { padding:25px 0;}

/*  Basic Styling To Override Default For Basic HTML Elements */

h1 {
  font-size: 36px;
}

#entryHolder {
  display:flex;
}

#entryHolder > div {
  padding:25px;
  flex-basis: 50%;
}

img.results-img {
  max-width:100%;
}

/* media queries */
@media (max-width: 769px) {
  #entryHolder { flex-direction:column;}
}

