<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <title>Richie's Travel App</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/css?family=Oswald:400,600,700|Ranga:400,700&display=swap" rel="stylesheet">
</head>

<body>
  <div id="app">
    <div class="holder headline">
      Richie's Travel App
    </div>
    <form id="search-form">
      <div class="form-group">
        <label for="city">Where would you like to go?</label>
        <input type="text" class="form-control" id="city" placeholder="enter the name of the city">
      </div>
      <div class="form-group">
        <label for="trip-date">When would you like to go?</label>
        <input type="date" class="form-control" id="trip-date">
      </div>

      <button id="submit" type="submit">Submit</button>
    </form>

    <div class="holder results">
      <div class="title">Predicted Weather</div>
      <div id="entryHolder">
        <div id="location-img"></div>
        <div id="location"></div>
        <div id="temp"></div>

      </div>
    </div>
  </div>
  <script>
    // Check that service workers are supported
    if ('serviceWorker' in navigator) {
      // Use the window load event to keep the page load performant
      window.addEventListener('load', () => {
        navigator.serviceWorker.register('/service-worker.js');
      });
    }
  </script>

</body>

</html>