.main {
  min-width:0;
  max-width: 1280px;
  margin: 25px auto;
  padding: 25px;
  grid-area: main;
}

.main a {
  color: #0089c7;
  font-weight: 700;
  text-decoration-color: #a2dffb;
}
.main a:hover, .container a:focus {
  text-decoration-color: #0089c7;
}
