.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px 1fr 50px;
  grid-template-areas:
    "hd"
    "main"
    "ft";
}

.main ul {
  list-style-type:none;
}



article h1 {
  font-size: 1.75rem;
  padding: 25px 0;
}

article h2 {
  font-size: 1.50rem;
  color: blue;
  padding: 25px 0;
}

article h3 {
  font-size: 1.25rem;
  padding: 25px 0;
  text-transform: uppercase;
}

.main {
  grid-area: main;
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 75% 25%;
  grid-template-areas:
    "article aside"
    "recent recent"
}

.main article {
  grid-area: article
}

.main aside {
  margin-top: 30px;
  grid-area: aside;
}

.main .recent-articles {
  grid-area: recent;
}

.author-metadata {display:flex;align-items:center;  font-weight:600; font-style:italic;}
.author-metadata img {border-radius:50%; padding-right:10px; height:30px; width:30px;}
.author-info {
  margin-top:50px;
  padding: 25px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  background-color: #eeeeee;
}
.author-info-heading {
  font-size:1.25rem;
  font-weight:600;
}
aside .sidebar {
  padding: 25px;
  box-shadow: 0 1px 6px rgb(32 33 36 / 28%);
  background-color: #eeeeee;
}

aside ul {
  padding-left: 5px;
}

aside li {
  list-style: none;
}

aside li a {
  text-decoration: none;
}

aside li a:hover, aside li a:focus {
  text-decoration-color: #0089c7;
  text-decoration:underline;
}
.share-icons {
  display:block;
  margin:0;
}

.share-icon-heading {
  display:block;
  font-weight:600;
}

.share-icons i {
  padding:0 5px;
}

.share-icons a i:hover, .share-icons a i:focus {
  color: blue;
}

.blog-title-aside {
  font-size: 1.25rem;
  font-weight: 600;
  padding: 10px 0;
}

.blog-aside-subheading {
  font-size: 1.25rem;
  padding: 10px 0 0 0;
}

.article-figure figcaption {
  font-style:italic;
  font-weight:400;
  padding:10px 0;
}

@media(max-width:700px) {
  .main {
    grid-template-columns: 1fr;
    grid-template-areas:
      "article"
      "aside"
      "recent"
  }
}
