<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>Evaluate a News Article with Natural Language Processing</title>
    </head>

    <body>

        <header>
            <div class="">
                Logo
            </div>
            <div class="">
                navigation
            </div>
        </header>

        <main>
            <section>
              <h1>Evaluate a News Article with Natural Language Processing</h1>
              <form class="" onsubmit="return handleSubmit(event)">
                  <p>Enter a full valid news article URL to analyze its overall sentiment:</p>
                    <input id="name" type="text" name="input" value="" placeholder="Enter full url">
                    <input class="btn" type="submit" name="" value="submit" onclick="return Client.handleSubmit(event)" onsubmit="return Client.handleSubmit(event)">
                </form>
            </section>

            <section>
                <strong>Form Results:</strong>
                <div id="results"></div>
            </section>
        </main>

        <footer>
              <p>&copy 2021 Richie's NLP - Powered by Meaning Cloud! </p>
        </footer>

    </body>
</html>
